* {
  margin: 0;
  padding: 0;
}

body {
  background: #00779e;
  background: -webkit-linear-gradient(to right, #257ae9, #2db9e7);
  background: linear-gradient(to right, #2277e7, #30afda);
  height: 110vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1262px;
  overflow-x: hidden;
  margin: 0 auto;

}

.Header {
  display: flex;
  padding: 0px 20px 0px 20px;
}

.searchBarSectionLink {
  display: flex;
  flex: 1 1 0;
  gap:16px;
  align-items: center;
  flex-wrap: wrap;
 }

.menuLink, .menuLink:visited {
  background-color:black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.menuLink:hover, .menuLink:active {
  background-image: linear-gradient(40deg, #000000 30%, #FFD700 90%);
}

.bookSection{
  display: flex;
  flex-wrap: wrap;
   
}

@media only screen and (max-width: 600px) {
  .searchBarSectionLink {
    display: none;
  }

  .bookSection{
   display: flex;
   
  }

.Header {
  justify-content: center;
  padding: 0px 5px 0px 5px;
}

}
